.spinner-container img{
	padding-left: 10px;
	display: none;
}
.spinner-container {
	width:30px;
	clear: right;
	display: inline-block;
}
.mpd-greentick{
	background-image: url('../images/tick.png');
	background-repeat: no-repeat;
	background-position: 10px 4px;
	padding-right:30px;
	overflow: hidden;
	height:20px;
	width:16px;
}
.mpd-greentick img{
	display: none!important;
}
.metabox {
  	padding: 0 10px 20px 10px;
  	background-color: #fff;
  	border: 1px solid #cdcdcd;
  	margin:20px 0;
}
.main-dup-button{
	margin-top: 22px !important;
}
.mdp_radio_label{
	padding: 0 7px
}
.form-table th{
	width: 35%;
}
.form-table tr{
	border-bottom: 1px solid #cdcdcd;
}
.mpdtip{
	font-size: 84% !important;
    padding: 9px;
    border: 1px solid #cdcdcd;
    margin-top: 16px!important;
    width: 80%;
    background-color: #f5f5f5;
}
.mdp-inputcontainer{
	clear: both;
	display: block;
	margin-top: 5px;
}
#mdp-ignore-custom-meta{
	width:80%;
}
.mpdtip i{ 
    font-size:1em;
    margin-right: 0.5em;
}
